<!DOCTYPE+html>
<html lang="en">
<head>
</head>
<body>
    <title> Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>

        <div class="form">
            <form action="/weatherapp" mehtod="POST">
                <lable for="city"> City name: kaif<lable>
                <input type="text" name="city" id="city">

                <lable for="units"> units name:<lable>
                <input type="text" name="units" id="units">

                <lable for="appid"> appid name:<lable>
                <input type="text" name="appid" id="appid">

                <input type="submit" value="search">
            </form>
        </div>
    </div>
</body>
</html>